@import "~bootstrap/dist/css/bootstrap.css";

.tags-box {
  margin-bottom: 0.6rem;
}

.tags {
  margin: 2px;
  font-size: 0.6rem;
  padding: 0.1rem 0.4rem;
  line-height: 1;
}

.notes-list {
  margin-top: 16px;

  h6 {
    font-size: 0.85rem;
  }

  .card {
    margin-bottom: 12px;

    .card-title {
      margin-bottom: 0.1rem;
    }

    .card-info {
      margin: 6px 0 8px;
      font-size: 0.65rem;
    }

    .tags-list {
      margin-bottom: 0.8rem;
    }
  }
}